# Samba configuration -- Managed by Ansible, please don't edit manually
# vim: ft=samba
#
# {{ ansible_managed }}

[global]
  # Server information
  netbios name = {% if setup_samba_netbios_name is defined %}{{setup_samba_netbios_name }}{% else %}{{ ansible_hostname }}{% endif %}

  workgroup = {{setup_samba_workgroup }}
{% if setup_samba_realm is defined %}
  realm = {{setup_samba_realm }}
{% endif %}
  server string = {{setup_samba_server_string }}

{% if setup_samba_apple_extensions is defined %}
  fruit:aapl = yes
{% endif %}

  # Logging
{% if setup_samba_log is defined %}
  log file = {{setup_samba_log }}
  max log size = {{setup_samba_log_size }}
  log level = {{setup_samba_log_level }}
{% else %}
  logging = syslog
{% endif %}

  # Authentication
  security = {{setup_samba_security }}
  passdb backend = {{setup_samba_passdb_backend }}
  map to guest = {{setup_samba_map_to_guest }}
{% if setup_samba_guest_account  is defined %}
  guest account = {{setup_samba_guest_account }}
{% endif %}
{% if setup_samba_username_map is defined %}
  # Note, textfile with  <unix user> = <smbuset1>, <ambuser2>
  username map = {{ setup_samba_username_map_file }}
{% endif %}

{% if setup_samba_server_min_protocol is defined %}
  # Minimum protocol version offered by the server
  server min protocol = {{setup_samba_server_min_protocol }}
{% endif %}

{% if setup_samba_server_max_protocol is defined %}
  # Maximum protocol version offered by the server
  server max protocol = {{setup_samba_server_max_protocol }}
{% endif %}

{% if setup_samba_interfaces|length > 0 %}
  interfaces = {{setup_samba_interfaces }}
{% endif %}

  # Name resolution: make sure \\NETBIOS_NAME\ works
  wins support = {{setup_samba_wins_support | ternary('yes', 'no') }}
  local master = {{setup_samba_local_master | ternary('yes', 'no') }}
  domain master = {{setup_samba_domain_master | ternary('yes', 'no') }}
  preferred master = {{setup_samba_preferred_master | ternary('yes', 'no') }}

{% if not setup_samba_load_printers %}
  # Don't load printers
  load printers = no
  printing = bsd
  printcap name = /dev/null
  disable spoolss = yes
{% else %}
  load printers = yes
  printing = {{setup_samba_printer_type }}
  printcap name = {{setup_samba_printer_type }}
  {% if setup_samba_printer_type == 'cups' %}
    cups server = {{setup_samba_cups_server }}
  {% endif %}
{% endif %}

{% if setup_samba_global_include is defined %}
  include = {{ setup_samba_configuration_dir }}/{{setup_samba_global_include }}
{% endif %}

{% if setup_samba_load_homes %}
## Make home directories accessible
[homes]
  comment = Home Directories
  browseable = no
  writable = yes
{% endif %}

{% if setup_samba_homes_include is defined %}
  include = {{ setup_samba_configuration_dir }}/{{setup_samba_homes_include }}
{% endif %}

{% if setup_samba_shares|length > 0 %}
## Shared directories
{%   for share in setup_samba_shares %}
[{{ share.name }}]
{%     if share.comment is defined %}
  comment = {{ share.comment }}
{%     endif %}
{%     if share.vfs_objects is defined and share.vfs_objects|length > 0 %}
  vfs objects = {% for obj in share.vfs_objects %}{{obj.name}} {% endfor %}

{%         for obj in share.vfs_objects %}
{%           if obj.options is defined %}
{%             if obj.options|length > 0 %}
{%               for opt in obj.options %}
  {{ obj.name }}:{{ opt.name }} = {{ opt.value }}
{%               endfor %}
{%             endif %}
{%           endif %}
{%         endfor %}
{%     endif %}
  path = {{ share.path|default([setup_samba_shares_root, share.name]|join('/')) }}
  public = {{ share.public|default('no') }}
{%     if share.valid_users is defined %}
  valid users = {{ share.valid_users | join(',') }}

{%     endif %}
{%     if share.write_list is defined %}
  write list = {{ share.write_list }}
{%     endif %}
{%     if share.group is defined %}
  force group = {{ share.group }}
{%     endif %}
{%     if share.guest_ok is defined %}
  guest ok = {{ share.guest_ok }}
{%     endif %}
{%     if share.browseable is defined %}
  browseable = {{ share.browseable }}
{%     endif %}
{%     if share.writable is defined %}
  writable = {{ share.writable }}
{%     endif %}
  create mode = {{ share.create_mode|default('0664') }}
  force create mode = {{ share.force_create_mode|default('0664') }}
  directory mode = {{ share.directory_mode|default('0775') }}
  force directory mode = {{ share.force_directory_mode|default('0775') }}
{%     if share.include_file is defined %}
  include = {{ setup_samba_configuration_dir }}/{{ share.include_file }}
{%     endif %}

{%   endfor %}
{% endif%}

